body {
  font-family: sans-serif;
  margin: auto;
  width: 100%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.img {
  width: 1000px;
  position: absolute;
}

.ring-container1 {
  position: relative;
  top:150px;
  left: 490px;
}

.ring-container2 {
  position: relative;
  top: 250px;
  left: 640px;
}

.ring-container3 {
  position: relative;
  top: 400px;
  left: 670px;
}

.ring-container4 {
  position: relative;
  top: 330px;
  left: 310px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.ringring {
  border: 3px solid #62bd19;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem;
  min-height: 500px;
  max-width: 800px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}


.img2 {
 height: 500px;
}

.small-img {
  width: 150px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

